{% extends "layout.html" %}

{% block title %}
    Chef Orders
{% endblock %}

{% block header %}
    <form action="/status" method="post">

    <!-- when user orders chef's food, chef gets notified -->
    <!--{% with messages = get_flashed_messages() %}-->
    <!--    {% if messages %}-->
    <!--        <ul class=flashes>-->
    <!--        {% for message in messages %}-->
    <!--          <li>{{ message }}</li>-->
    <!--        {% endfor %}-->
    <!--        </ul>-->
    <!--    {% endif %}-->
    <!--{% endwith %}-->

{% endblock %}

{% block main %}

    <!-- head of table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Meal</th>
                <th scope="col">Calories</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <!-- body of table -->
        <tbody>
            {% for info in data %}
                <tr>
                    <!-- customer id-->
                    <td>{{ info.customerid }}</td>

                    <!-- meal -->
                    <td>{{ info.meal }}</td>

                    <!-- calories -->
                    <td>{{ info.calories }}</td>

                    <!-- price -->
                    <td>{{ '{0:.2f}'.format(info.price) }}</td>

                     status
                    <td>{{ info.status }}
                        {{ if info.status == "incomplete"
                    </td>

                    <!--{% if info.status %}-->

                    <td><button class="btn btn-primary" type="submit">Complete Orders</button></td>
                </tr>
            {% endfor %}
        </tbody>

        <!-- footer of table with total cash of chef -->
    <!--    <tfoot>-->
    <!--        <tr>-->
    <!--            <td colspan="0"><b>TOTAL REVENUE</b></td>-->
    <!--            <td colspan="3"></td>-->
    <!--            <td>{{ total }}</td>-->
    <!--        </tr>-->
    <!--    </tfoot>-->
    <!--</table>-->

{% endblock %}
