{% extends "layout.html" %}

{% block title %}
   Customer Register
{% endblock %}

{% block main %}

<form id="registration" name="registration" method="post" action="/customerregister">
  <div class="form-group">
    <label for="validationCustomName">Name</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationCustomName" name="name" placeholder="Last Name, First Name" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a name.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationCustomUsername" name="username" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="validationCustomPassword">Password</label>
      <div class="input-group">
        <input type="password" class="form-control" id="validationCustomPassword" name="password" placeholder="Password must contain a number" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a password.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="validationCustomConfirmation">Confirmation of Password</label>
      <div class="input-group">
        <input type="password" class="form-control" id="validationCustomConfirmation" name="confirmation" placeholder="Re-type Password" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Confirm password correctly.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="validationCustomCreditCard">Credit Card</label>
      <div class="input-group">
        <input type="password" class="form-control" id="validationCustomConfirmation" name="creditcard" placeholder="Enter credit card number (16 digits)" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please provide credit card number.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="mealplan">Meal Plan</label>
      <p>
      <select name="mealplan" class="form-control">
        <option disabled selected value="">Select Option</option>
        <option>Lose Weight</option>
        <option>Gain Muscle Mass</option>
      </select>
      </p>
    </div>
    <div class="form-group">
      <label for="timezone">Timezone</label>
      <p>
      <select class="form-control" name="timezone">
        <option disabled selected value="">Select Option</option>
        <option value="US/Eastern">Eastern</option>
        <option value="US/Central">Central</option>
        <option value="US/Mountain">Mountain</option>
        <option value="US/Pacific">Pacific</option>
      </select>
      </p>
    </div>
    <!--<div class="form-group">-->
    <!--<div class="form-check">-->
    <!--  <input class="form-check-input"  type="hidden" name="geolcation" id="geolocation" value="" required>-->
    <!--  <button href="#" onclick="starter()">-->
    <!--  <label class="form-check-label" for="invalidCheck">-->
    <!--    Agree to share location-->
    <!--  </label>-->
    <!--  <div class="invalid-feedback">-->
    <!--    You must agree before submitting.-->
    <!--  </div>-->
    <!--</div>-->
  <!--</div>-->
  <button class="btn btn-primary" type="submit" required> Register</button>
  <p>
    <img src = "../static/img/icon.png" class = "img-fluid" alt = "Responsive image"/>
  </p>
</form>
{% endblock %}

// <script>
// (function() {
//   'use strict';
//   window.addEventListener('load', function() {
//     // Fetch all the forms we want to apply custom Bootstrap validation styles to
//     var forms = document.getElementsByClassName('needs-validation');
//     // Loop over them and prevent submission
//     var validation = Array.prototype.filter.call(forms, function(form) {
//       form.addEventListener('submit', function(event) {
//         if (form.checkValidity() === false) {
//           event.preventDefault();
//           event.stopPropagation();
//         }
//         form.classList.add('was-validated');
//       }, false);
//     });
//   }, false);
// })();
// </script>
