{% extends "layout.html" %}

{% block title %}
    Customer History
{% endblock %}

{% block main %}

    <!-- head of table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Chef</th>
                <th scope="col">Meal</th>
                <th scope="col">Price</th>
                <th scope="col">Time</th>
            </tr>
        </thead>

        <!-- body of table -->
        <tbody>
            {% for info in data %}
                <tr>

                    <!-- chef -->
                    <td>{{ info.chef }}</td>

                    <!-- meal -->
                    <td>{{ info.meal }}</td>

                    <!-- price -->
                    <td>{{ '{0:.2f}'.format(info.price) }}</td>

                    <!-- time -->
                    <td>{{ info.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
