{% extends "layout.html" %}

{% block title %}
   Customer Register
{% endblock %}

{% block main %}

<form id="registration" name="registration" method="post" action="/customerregistration">
<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="name" required>
      <div class="valid-feedback">
        Valid
      </div>
    </div>
   
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationCustomUsername" name="username" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Password</label>
      <input type="text" class="form-control" id="validationCustom03" name="password" placeholder="Password" required>
      <div class="invalid-feedback">
        Please choose a password.
      </div>
    </div>
    <div class="form-group">
      <select class="form-control" name="mealplan">
         <option disabled selected value="">Select your meal plan</option>
         <option value="weight">Diet</option>
         <option value="muscle">Gain mass</option>
      </select>
    </div>
     <div class="col-md-3 mb-3">
      <label for="validationCustom05">Meal Plan</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Gain Muscle Mass or Lose Weight" required>
      <div class="invalid-feedback">
        Please choose a meal plan.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input"  type="hidden" name="registration" id="registration" value="" required>
      <button href="#" onclick="starter()">
      <label class="form-check-label" for="invalidCheck">
        Agree to share location
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" required> Register</button>

</form>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
function starter(){
if (navigator.geolocation) {
 navigator.geolocation.getCurrentPosition(successFunction);
} else {
 alert('not supported');
}
}
function successFunction(position) {
   var lat = position.coords.latitude;
   var long = position.coords.longitude;
   var latlong= [lat.toString(), long.toString()];
   document.registration.registration.value = latlong;
   document.forms["registration"].submit();
}
</script>
{% endblock %}
