{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" name="myform" id="myform" method="post">
        <header>
            <p>
                <center>
                    <!-- image of founders -->
                    <img src = "../static/img/founders.png" class = "img-fluid" alt = "Responsive image" style = "width:40%" />
                </center>
            </p>
            <p>
                <center>
                    Founders<i> Gabe Apoj</i> and <i>Ben Rabinowitz</i>
                </center>
            </p>
            <p>
            <!-- synopsis of HAMBRE -->
            Founded in 2018, HAMBRE provides customized Kosher meal solutions to customers throughout the United States. We tailor our menu to specific diets and preferences. We look forward to connecting you with your chef. Enjoy!
            </p>
        </header>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
        <p>
        <a href = "https://www.latlong.net/"> Get Your Coordinates </a>
        </p>
        <p>
          <div class="form-group">
            <input autocomplete="off" class="form-control" name="latitude" placeholder="Latitude (to two decimals)" type="text">
            <input autocomplete="off" class="form-control" name="longitude" placeholder="Longitude (to two decimals)" type="text">
          </div>
        </div>
        </p>
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Log In</button>
        </p>
        <p>
            <img src = "../static/img/icon.png" class = "img-fluid" alt = "Responsive image"/>
        </p>
    </form>

<script>
document.querySelector('form').onsubmit = function(e) {
        e.preventDefault();
        if (!document.querySelector('input[name="username"]').value) {
            alert('You must provide your name!');
            return false;
        }
        else if (!document.querySelector('input[name="password"]').value) {
            alert('You must provide your password!');
            return false;
        }
        else {
            document.myform.submit();
            return true;
        }
        };
</script>

{% endblock %}

