{% extends "layout.html" %}

{% block title %}
    Chef Orders
{% endblock %}

{% block main %}


    <form action="/buy" method="post">
    <!-- head of table -->
    {% for meal in meals %}
    <p>
    <img src="{{ meal.image }}" alt="Trulli" width="500" height="333">
    <ul>
        <li>Meal name: {{ meal.name }}</li>
        <li>Price: {{ meal.price }}</li>
        <li>Calories: {{ meal.calories }}</li>
        <input type="checkbox" name="{{meal.name}}" value="{{meal.name}}">Add Meal to Cart<br>
    </ul>
    </form>



{% endblock %}
