{% extends "layout.html" %}

{% block title %}
   User Information
{% endblock %}

{% block main %}

<form id="registration" name="registration" method="post" action="/cheflogin">
<div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" id="name" placeholder="Enter Name" type="text">
        </div>

        <!--Allow the user to choose which class they're in-->
        <div class="form-group">
            <select class="form-control" name="timezone">
                <option disabled selected value="">Timezone</option>
                <option value="US/Eastern">Eastern</option>
                <option value="US/Central">Central</option>
                <option value="US/Mountain">Mountain</option>
                <option value="US/Pacific">Pacific</option>
            </select>
        </div>


  <!--<div class="form-group">-->
  <!--  <div class="form-check">-->
      <input type="hidden" name="registration" id="registration" value="" required>
      <button href="#" onclick="starter()" class="btn btn-primary" required>Agree to share your location</button>
  <!--  </div>-->
  <!--</div>-->

</form>


<script>

// if the code below isnt made into a function it will run automatically.
function starter(){
if (navigator.geolocation) {
 navigator.geolocation.getCurrentPosition(successFunction);
} else {
 alert('not supported');

}
function successFunction(position) {
   var lat = position.coords.latitude;
   var long = position.coords.longitude;
   var latlong= [lat.toString(), long.toString()];
   document.registration.registration.value = latlong;
   document.forms["registration"].submit();
}
}


</script>
{% endblock %}
