{% extends "layout.html" %}

{% block title %}
    Customer Cart
{% endblock %}

{% block header %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}

{% block main %}

    <form action="/checkout" method="post">

    <!-- head of table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Meal</th>
                <th scope="col">Calories</th>
                <th scope="col">Price</th>
            </tr>
        </thead>

        <!-- body of table -->
        <tbody>
            {% for info in datas %}
                <tr>
                    <!-- meal -->
                    <td>{{ info.name }}</td>

                    <!-- calories -->
                    <td>{{ info.calories }}</td>

                    <!-- price -->
                    <td>{{ info.price|usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <!-- total -->
            <tr>
                <td colspan="0"><b>TOTAL</b></td>
                <td colspan="1"></td>
                <td>{{ cart }}</td>
            </tr>
        </tfoot>
    </table>

    <!-- checkout -->
    <center>
        <button class="btn btn-primary" name="checkout" type="submit">Checkout</button>
    </center>
    </form>
{% endblock %}
